*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card-img-top{
    width: 18%;
   
}

.icons{
    width: 8%;
}

body {
    background-image: linear-gradient(#fcf5f5, #eff4fd);
    background-color: aliceblue;
}



